/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
/* th,
td {
  border: 1px solid black;
} */
th {
  background-color: rgb(253, 93, 93);
}
td {
  background-color: rgb(247, 164, 164);
}
